<a href="https://colab.research.google.com/github/yash-gada/Projects/blob/main/Netflix_Rough.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Reading the csv files

In [2]:
import numpy as np
import pandas as pd

In [3]:
netflix = pd.read_csv("Netflix_BusinessCase_dataset.csv")

# Checking the attributes

In [4]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [5]:
netflix.shape

(8807, 12)

In [6]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8530 non-null   object
 9   duration      8807 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

# Data Cleaning and Processing

In [7]:
#netflix["date_added"] = pd.to_datetime(netflix["date_added"])
#netflix.sort_values(by = "release_year")
#(pd.to_datetime(netflix["date_added"].fillna(method = "ffill")).dt.year < netflix["release_year"]).sum()
#netflix[netflix["date_added"].isnull() == False]["date_added"].dt.year

netflix["date_added"] = pd.to_datetime(netflix["date_added"])

In [8]:
netflix = netflix.sort_values(by="release_year")
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4250,s4251,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,2018-12-30,1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...
7790,s7791,Movie,Prelude to War,Frank Capra,NaN,United States,2017-03-31,1942,TV-14,52 min,"Classic Movies, Documentaries",Frank Capra's documentary chronicles the rise ...
8205,s8206,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,2017-03-31,1942,TV-14,18 min,"Classic Movies, Documentaries",Director John Ford captures combat footage of ...
8660,s8661,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,United States,2017-03-31,1943,TV-PG,61 min,"Classic Movies, Documentaries",This World War II-era training film dramatizes...
8739,s8740,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,2017-03-31,1943,TV-PG,82 min,Documentaries,This installment of Frank Capra's acclaimed do...

In [9]:
netflix["date_added"] = netflix["date_added"].fillna(method="bfill")
netflix["date_added"].isnull().sum()

0

In [10]:
netflix["date_added_year"] = netflix["date_added"].dt.year
netflix["date_added_month"] = netflix["date_added"].dt.month
netflix["date_added_week"] = netflix["date_added"].dt.week
netflix.head()

<ipython-input-10-5accbe3b013c>:3: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  netflix["date_added_week"] = netflix["date_added"].dt.week

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,date_added_year,date_added_month,date_added_week
4250,s4251,TV Show,Pioneers: First Women Filmmakers*,NaN,NaN,NaN,2018-12-30,1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...,2018,12,52
7790,s7791,Movie,Prelude to War,Frank Capra,NaN,United States,2017-03-31,1942,TV-14,52 min,"Classic Movies, Documentaries",Frank Capra's documentary chronicles the rise ...,2017,3,13
8205,s8206,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,2017-03-31,1942,TV-14,18 min,"Classic Movies, Documentaries",Director John Ford captures combat footage of ...,2017,3,13
8660,s8661,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,United States,2017-03-31,1943,TV-PG,61 min,"Classic Movies, Documentaries",This World War II-era training film dramatizes...,2017,3,13
8739,s8740,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,2017-03-31,1943,TV-PG,82 min,Documentaries,This installment of Frank Capra's acclaimed do...,2017,3,13

In [11]:
netflix["release_year"].isnull().sum()

0

In [12]:
netflix = netflix.fillna(value = "NA")

In [13]:
netflix.isnull().sum()

show_id             0
type                0
title               0
director            0
cast                0
country             0
date_added          0
release_year        0
rating              0
duration            0
listed_in           0
description         0
date_added_year     0
date_added_month    0
date_added_week     0
dtype: int64

In [14]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 4250 to 965
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   show_id           8807 non-null   object
 1   type              8807 non-null   object
 2   title             8807 non-null   object
 3   director          8807 non-null   object
 4   cast              8807 non-null   object
 5   country           8807 non-null   object
 6   date_added        8807 non-null   datetime64[ns]
 7   release_year      8807 non-null   int64
 8   rating            8807 non-null   object
 9   duration          8807 non-null   object
 10  listed_in         8807 non-null   object
 11  description       8807 non-null   object
 12  date_added_year   8807 non-null   int64
 13  date_added_month  8807 non-null   int64
 14  date_added_week   8807 non-null   int64
dtypes: datetime64[ns](1), int64(4), object(10)
memory usage: 1.1+ MB

### *Unnesting data by exploding*

In [15]:
netflix["cast"] = netflix["cast"].str.split(",")
netflix["listed_in"] = netflix["listed_in"].str.split(",")
netflix["director"] = netflix["director"].str.split(",")
netflix["country"] = netflix["country"].str.split(",")
# cast, listed_in, director, country have multiple values in single cell
#8807 rows currently

In [16]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,date_added_year,date_added_month,date_added_week
4250,s4251,TV Show,Pioneers: First Women Filmmakers*,[NA],[NA],[NA],2018-12-30,1925,TV-14,1 Season,[TV Shows],This collection restores films from women who ...,2018,12,52
7790,s7791,Movie,Prelude to War,[Frank Capra],[NA],[United States],2017-03-31,1942,TV-14,52 min,"[Classic Movies, Documentaries]",Frank Capra's documentary chronicles the rise ...,2017,3,13
8205,s8206,Movie,The Battle of Midway,[John Ford],"[Henry Fonda, Jane Darwell]",[United States],2017-03-31,1942,TV-14,18 min,"[Classic Movies, Documentaries]",Director John Ford captures combat footage of ...,2017,3,13
8660,s8661,Movie,Undercover: How to Operate Behind Enemy Lines,[John Ford],[NA],[United States],2017-03-31,1943,TV-PG,61 min,"[Classic Movies, Documentaries]",This World War II-era training film dramatizes...,2017,3,13
8739,s8740,Movie,Why We Fight: The Battle of Russia,"[Frank Capra, Anatole Litvak]",[NA],[United States],2017-03-31,1943,TV-PG,82 min,[Documentaries],This installment of Frank Capra's acclaimed do...,2017,3,13

In [17]:
netflix = netflix.explode(["cast"], ignore_index=True)
netflix = netflix.explode(["listed_in"], ignore_index=True)
netflix = netflix.explode(["director"], ignore_index=True)
netflix = netflix.explode(["country"], ignore_index=True)

# exploding all the multiple value columns

In [18]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,date_added_year,date_added_month,date_added_week
0,s4251,TV Show,Pioneers: First Women Filmmakers*,NA,NA,NA,2018-12-30,1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...,2018,12,52
1,s7791,Movie,Prelude to War,Frank Capra,NA,United States,2017-03-31,1942,TV-14,52 min,Classic Movies,Frank Capra's documentary chronicles the rise ...,2017,3,13
2,s7791,Movie,Prelude to War,Frank Capra,NA,United States,2017-03-31,1942,TV-14,52 min,Documentaries,Frank Capra's documentary chronicles the rise ...,2017,3,13
3,s8206,Movie,The Battle of Midway,John Ford,Henry Fonda,United States,2017-03-31,1942,TV-14,18 min,Classic Movies,Director John Ford captures combat footage of ...,2017,3,13
4,s8206,Movie,The Battle of Midway,John Ford,Henry Fonda,United States,2017-03-31,1942,TV-14,18 min,Documentaries,Director John Ford captures combat footage of ...,2017,3,13

In [19]:
netflix.drop_duplicates(inplace = True)

In [20]:
netflix.shape

(202058, 15)

In [21]:
netflix.isnull().sum()

show_id             0
type                0
title               0
director            0
cast                0
country             0
date_added          0
release_year        0
rating              0
duration            0
listed_in           0
description         0
date_added_year     0
date_added_month    0
date_added_week     0
dtype: int64

### Change the duration column to integer for easy analysis

In [22]:
# Separating each cell of duration column by space
# Taking only the first index (integer part) and exclusing the string (min/season)

netflix["duration"] = netflix["duration"].str.split().str[0]
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,date_added_year,date_added_month,date_added_week
0,s4251,TV Show,Pioneers: First Women Filmmakers*,NA,NA,NA,2018-12-30,1925,TV-14,1,TV Shows,This collection restores films from women who ...,2018,12,52
1,s7791,Movie,Prelude to War,Frank Capra,NA,United States,2017-03-31,1942,TV-14,52,Classic Movies,Frank Capra's documentary chronicles the rise ...,2017,3,13
2,s7791,Movie,Prelude to War,Frank Capra,NA,United States,2017-03-31,1942,TV-14,52,Documentaries,Frank Capra's documentary chronicles the rise ...,2017,3,13
3,s8206,Movie,The Battle of Midway,John Ford,Henry Fonda,United States,2017-03-31,1942,TV-14,18,Classic Movies,Director John Ford captures combat footage of ...,2017,3,13
4,s8206,Movie,The Battle of Midway,John Ford,Henry Fonda,United States,2017-03-31,1942,TV-14,18,Documentaries,Director John Ford captures combat footage of ...,2017,3,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202060,s966,TV Show,Yasuke,NA,Amy Hill,NA,2021-04-29,2021,TV-MA,1,International TV Shows,A peaceful boatman once known as the Black Sam...,2021,4,17
202061,s966,TV Show,Yasuke,NA,Emily Woo Zeller,NA,2021-04-29,2021,TV-MA,1,Anime Series,A peaceful boatman once known as the Black Sam...,2021,4,17
202062,s966,TV Show,Yasuke,NA,Emily Woo Zeller,NA,2021-04-29,2021,TV-MA,1,International TV Shows,A peaceful boatman once known as the Black Sam...,2021,4,17
202063,s966,TV Show,Yasuke,NA,Keone Young,NA,2021-04-29,2021,TV-MA,1,Anime Series,A peaceful boatman once known as the Black Sam...,2021,4,17
202064,s966,TV Show,Yasuke,NA,Keone Young,NA,2021-04-29,2021,TV-MA,1,International TV Shows,A peaceful boatman once known as the Black Sam...,2021,4,17

In [23]:
# Trimming strings in each cell to remove any trailing or leading spaces

#netflix.select_dtypes(include="object").apply(lambda x:x.str.strip())
str_df = netflix.select_dtypes(include="object")
netflix[str_df.columns] = netflix.select_dtypes(include="object").apply(lambda x:x.str.strip())
del str_df

In [24]:
# dropping duplicates before separating dataset

netflix.drop_duplicates(inplace = True)
netflix.count()
# 202010

show_id             202010
type                202010
title               202010
director            202010
cast                202010
country             202010
date_added          202010
release_year        202010
rating              202010
duration            202010
listed_in           202010
description         202010
date_added_year     202010
date_added_month    202010
date_added_week     202010
dtype: int64

In [25]:
# Count of Movies for confirmation before separating the dataset

netflix[netflix["type"] == "Movie"].count()

show_id             145862
type                145862
title               145862
director            145862
cast                145862
country             145862
date_added          145862
release_year        145862
rating              145862
duration            145862
listed_in           145862
description         145862
date_added_year     145862
date_added_month    145862
date_added_week     145862
dtype: int64

In [26]:
# Count of TV Shows for confirmation before separating the dataset

netflix[netflix["type"] == "TV Show"].count()

show_id             56148
type                56148
title               56148
director            56148
cast                56148
country             56148
date_added          56148
release_year        56148
rating              56148
duration            56148
listed_in           56148
description         56148
date_added_year     56148
date_added_month    56148
date_added_week     56148
dtype: int64

In [27]:
netflix[netflix["type"] == "Movie"].shape[0] + netflix[netflix["type"] == "TV Show"].shape[0]
# 145862 + 56148

202010

# Diving data into Movies and Shows

In [28]:
movies = netflix[netflix["type"] == "Movie"]
movies

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,date_added_year,date_added_month,date_added_week
1,s7791,Movie,Prelude to War,Frank Capra,NA,United States,2017-03-31,1942,TV-14,52,Classic Movies,Frank Capra's documentary chronicles the rise ...,2017,3,13
2,s7791,Movie,Prelude to War,Frank Capra,NA,United States,2017-03-31,1942,TV-14,52,Documentaries,Frank Capra's documentary chronicles the rise ...,2017,3,13
3,s8206,Movie,The Battle of Midway,John Ford,Henry Fonda,United States,2017-03-31,1942,TV-14,18,Classic Movies,Director John Ford captures combat footage of ...,2017,3,13
4,s8206,Movie,The Battle of Midway,John Ford,Henry Fonda,United States,2017-03-31,1942,TV-14,18,Documentaries,Director John Ford captures combat footage of ...,2017,3,13
5,s8206,Movie,The Battle of Midway,John Ford,Jane Darwell,United States,2017-03-31,1942,TV-14,18,Classic Movies,Director John Ford captures combat footage of ...,2017,3,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202008,s862,Movie,Little Singham Future mein Satakli,Prakash Satam,Saumya Daan,NA,2021-05-20,2021,TV-Y7,47,Comedies,Little Singham and his crew travel to the year...,2021,5,20
202009,s862,Movie,Little Singham Future mein Satakli,Prakash Satam,Sonal Kaushal,NA,2021-05-20,2021,TV-Y7,47,Children & Family Movies,Little Singham and his crew travel to the year...,2021,5,20
202010,s862,Movie,Little Singham Future mein Satakli,Prakash Satam,Sonal Kaushal,NA,2021-05-20,2021,TV-Y7,47,Comedies,Little Singham and his crew travel to the year...,2021,5,20
202011,s862,Movie,Little Singham Future mein Satakli,Prakash Satam,Sumriddhi Shukla,NA,2021-05-20,2021,TV-Y7,47,Children & Family Movies,Little Singham and his crew travel to the year...,2021,5,20
202012,s862,Movie,Little Singham Future mein Satakli,Prakash Satam,Sumriddhi Shukla,NA,2021-05-20,2021,TV-Y7,47,Comedies,Little Singham and his crew travel to the year...,2021,5,20

In [29]:
shows = netflix[netflix["type"] == "TV Show"]
shows

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,date_added_year,date_added_month,date_added_week
0,s4251,TV Show,Pioneers: First Women Filmmakers*,NA,NA,NA,2018-12-30,1925,TV-14,1,TV Shows,This collection restores films from women who ...,2018,12,52
38,s1332,TV Show,Five Came Back: The Reference Films,NA,NA,United States,2021-02-09,1945,TV-MA,1,TV Shows,This collection includes 12 World War II-era p...,2021,2,6
49,s7744,TV Show,Pioneers of African-American Cinema,Oscar Micheaux,NA,United States,2017-02-01,1946,TV-14,1,TV Shows,This newly preserved collection features more ...,2017,2,5
50,s7744,TV Show,Pioneers of African-American Cinema,Spencer Williams,NA,United States,2017-02-01,1946,TV-14,1,TV Shows,This newly preserved collection features more ...,2017,2,5
51,s7744,TV Show,Pioneers of African-American Cinema,Richard E. Norman,NA,United States,2017-02-01,1946,TV-14,1,TV Shows,This newly preserved collection features more ...,2017,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202060,s966,TV Show,Yasuke,NA,Amy Hill,NA,2021-04-29,2021,TV-MA,1,International TV Shows,A peaceful boatman once known as the Black Sam...,2021,4,17
202061,s966,TV Show,Yasuke,NA,Emily Woo Zeller,NA,2021-04-29,2021,TV-MA,1,Anime Series,A peaceful boatman once known as the Black Sam...,2021,4,17
202062,s966,TV Show,Yasuke,NA,Emily Woo Zeller,NA,2021-04-29,2021,TV-MA,1,International TV Shows,A peaceful boatman once known as the Black Sam...,2021,4,17
202063,s966,TV Show,Yasuke,NA,Keone Young,NA,2021-04-29,2021,TV-MA,1,Anime Series,A peaceful boatman once known as the Black Sam...,2021,4,17
202064,s966,TV Show,Yasuke,NA,Keone Young,NA,2021-04-29,2021,TV-MA,1,International TV Shows,A peaceful boatman once known as the Black Sam...,2021,4,17

# MOVIES and TV SHOWS dataset is ready for analysis now!

In [30]:
movies.describe()

        release_year  date_added_year  date_added_month  date_added_week
count  145862.000000    145862.000000     145862.000000    145862.000000
mean     2012.129314      2018.956589          6.611482        26.280128
std         9.816461         1.539606          3.452056        15.099679
min      1942.000000      2008.000000          1.000000         1.000000
25%      2010.000000      2018.000000          4.000000        13.000000
50%      2016.000000      2019.000000          7.000000        27.000000
75%      2018.000000      2020.000000         10.000000        39.000000
max      2021.000000      2021.000000         12.000000        53.000000

In [31]:
shows.describe()

       release_year  date_added_year  date_added_month  date_added_week
count  56148.000000     56148.000000      56148.000000     56148.000000
mean    2016.874902      2018.990187          6.701076        27.778674
std        5.069625         1.583346          3.417565        14.878649
min     1925.000000      2008.000000          1.000000         1.000000
25%     2016.000000      2018.000000          4.000000        15.000000
50%     2018.000000      2019.000000          7.000000        27.000000
75%     2020.000000      2020.000000         10.000000        40.000000
max     2021.000000      2021.000000         12.000000        53.000000

In [32]:
movies.nunique()

show_id              6131
type                    1
title                6128
director             4778
cast                25952
country               119
date_added           1533
release_year           73
rating                 15
duration              215
listed_in              20
description          6105
date_added_year        14
date_added_month       12
date_added_week        53
dtype: int64

In [33]:
shows.nunique()

show_id              2676
type                    1
title                2675
director              300
cast                14864
country                67
date_added           1014
release_year           46
rating                 10
duration               21
listed_in              22
description          2672
date_added_year        10
date_added_month       12
date_added_week        53
dtype: int64

In [34]:
category_cols = ["director", "cast", "country", "rating", "listed_in"]

print("MOVIES\n")
for i in category_cols:
  print(i.upper())
  print(movies[i].value_counts(), "\n")

MOVIES

DIRECTOR
NA                     1285
Martin Scorsese         419
Youssef Chahine         409
Cathy Garcia-Molina     356
Steven Spielberg        355
                       ...
Julia Knowles             1
Sandra Restrepo           1
Bassam Tariq              1
David Shisgall            1
James Redford             1
Name: director, Length: 4778, dtype: int64

CAST
NA                 1331
Liam Neeson         161
Alfred Molina       157
John Krasinski      138
Salma Hayek         130
                   ...
Clem Tibber           1
Elarica Johnson       1
James Doherty         1
Shaun Dingwall        1
Jenna Dewan           1
Name: cast, Length: 25952, dtype: int64

COUNTRY
United States     45792
India             21411
United Kingdom     8580
France             6605
NA                 6199
                  ...
Sri Lanka             2
Botswana              2
Uganda                1
Kazakhstan            1
Nicaragua             1
Name: country, Length: 119, dtype: int64

RATING
TV-MA       41792
TV-14       28720
R           25778
PG-13       16126
PG          10767
TV-PG       10088
NA           3490
TV-Y7        2383
TV-Y         1837
TV-G         1722
G            1444
NR           1418
NC-17         149
UR             86
TV-Y7-FV       62
Name: rating, dtype: int64

LISTED_IN
Dramas                      29787
International Movies        28224
Comedies                    20829
Action & Adventure          12216
Independent Movies           9818
Children & Family Movies     9771
Thrillers                    7106
Romantic Movies              6412
Horror Movies                4571
Sci-Fi & Fantasy             4037
Music & Musicals             3077
Documentaries                2409
Sports Movies                1531
Classic Movies               1443
Cult Movies                  1077
Anime Features               1045
LGBTQ Movies                  838
Faith & Spirituality          719
Stand-Up Comedy               540
Movies                        412
Name: listed_in, dtype: int64

In [35]:
print("SHOWS\n")

for i in category_cols:
  print(i.upper())
  print(shows[i].value_counts(), "\n")

SHOWS

DIRECTOR
NA                 49358
Noam Murro           189
Thomas Astruc        160
Laïla Marrakchi      104
Damien Chazelle      104
                   ...
Michael Simon          1
Dawn Porter            1
Vanessa Roth           1
Sharon Grimberg        1
Alex Gibney            1
Name: director, Length: 300, dtype: int64

CAST
NA                    818
David Attenborough     82
Takahiro Sakurai       56
Yuki Kaji              45
Ai Kayano              41
                     ...
Agniya Kuznetsova       1
John Brotherton         1
Alberto Escobal         1
Rosa Romay              1
Tanya Roberts           1
Name: cast, Length: 14864, dtype: int64

COUNTRY
United States     13533
NA                 5698
Japan              5154
United Kingdom     4385
South Korea        3754
                  ...
Hungary              10
                      8
Greece                6
Belarus               6
Uruguay               3
Name: country, Length: 67, dtype: int64

RATING
TV-MA       29354
TV-14       13941
TV-PG        4420
TV-Y7        3688
NA           1778
TV-Y         1753
TV-G          981
NR            155
R              54
TV-Y7-FV       24
Name: rating, dtype: int64

LISTED_IN
International TV Shows          12845
TV Dramas                        8942
TV Comedies                      4963
Crime TV Shows                   4733
Kids' TV                         4568
Romantic TV Shows                3049
Anime Series                     2313
TV Action & Adventure            2288
Spanish-Language TV Shows        2126
British TV Shows                 1808
TV Mysteries                     1281
Korean TV Shows                  1122
TV Sci-Fi & Fantasy              1045
TV Horror                         941
Docuseries                        845
TV Thrillers                      768
Teen TV Shows                     742
Reality TV                        735
TV Shows                          337
Classic & Cult TV                 272
Stand-Up Comedy & Talk Shows      268
Science & Nature TV               157
Name: listed_in, dtype: int64